<h1>Hello, world!</h1>
<button type="button" class="btn">
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
</button>
<button type="button" class="btn">
  <%= link_to "Create post", new_post_path, method: :get %>
</button>
<button type="button" class="btn">
  <%= link_to "Index posts", posts_path, method: :get %>
</button>
