.post-body {
  position: relative;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-left: inherit;
  border-style: solid;
  border-color: #A9A9A9;
  text-align: center;
  color: black;
  padding: 20px;
}
